html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.list-group .list-group-item a {
  color: #212529;
  cursor: pointer;
}

.actions {
  display: flex;
  flex-flow: row wrap;
}
.actions > * + * {
  margin-left: 5px;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
